<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Something is wrong with service you have been monitoring!</h1>
    <p>
      Service can be found at <%= @url %>,
      been down for <%= @time %> minutes.<br>
    </p>
    <p>Thanks for using our service!</p>
  </body>
</html>