<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Service you have been monitoring is avaliable again!</h1>
    <p>
      Feel free to use it at <%= @url %>
    </p>
    <p>Thanks for using our service!</p>
  </body>
</html>